<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		id="com.signal360.SignalPGPlugin" version="0.1.0">

	<name>SignalPGPlugin</name>
	<description>Signal360 PhoneGap Plugin</description>
	<keywords>signal360,sdk,phonegap</keywords>

	<asset src="www/js/signalpg.js" target="js/signalpg.js" />
	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/widget/plugins">
			<feature name="SignalPG">
				<param name="ios-package" value="SignalPG"/>
			</feature>
		</config-file>
		<header-file src="src/ios/SignalPG.h" />
		<source-file src="src/ios/SignalPG.m" />

		<framework src="AudioToolbox.framework" />
		<framework src="CoreAudio" />
		<framework src="Foundation" />
		<framework src="AdSupport" />
		<framework src="CoreLocation" />
		<framework src="CoreBluetooth" />
		<framework src="Accelerate" />
		<framework src="MobileCoreServices" />
		<framework src="SystemConfiguration" />
		<framework src="CoreGraphics" />
		<framework src="UIKit" />
		<framework src="AVFoundation" />
		<framework src="libsqlite3.dylib" />
		<framework src="libstdc++.dylib" />
		<framework src="libz.dylib" />
	</platform>
</plugin>
